body{
    background-color: #ebf6f7;
    margin-top: auto;
}

h1, h2 {
    color: #333;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #2f2e2e;
    font-family: Arial, Helvetica, sans-serif;
}
ul {
    list-style-type: square;
    padding-left: 20px;
}
header {
    background-color: #cbf7ff;
    color: white;
    padding: 10px 0;
    text-align: center;
}

img {
    
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}   


.profile{
    display: block;      
    margin: 20px auto;
    width: 260px;
    height: 260px;
    object-fit: cover;    
    border-radius: 12px;
}

section#about, section#skills, section#projects,footer#contact {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #f9f9f9;
}
h2{
    text-align: center;
}


/*W3 schools helped with css*/
